.dashboard{
  display:flex;
  flex-direction:column;
  height:100vh;
}

/* body */

.dashboard-body{
  display:flex;
  margin-top:56px;
  min-height:calc(100vh - 56px);
  background:#f8fafc;
}

/* main content */

.dashboard-main{
  margin-left:200px;
  padding:24px;
  flex:1;

  background: transparent;

  min-height:calc(100vh - 56px);

  overflow-y:auto;
  overflow-x:hidden;
  max-width:100%;
  box-sizing:border-box;
}

/* mobile */

@media (max-width:768px){

  .dashboard-main{
    margin-left:70px;
    padding:18px;
  }

}
