.dashboard{
  display:flex;
  flex-direction:column;
  height:100vh;
}

/* body */

.dashboard-body{
  display:flex;
  margin-top:56px;
}

/* main content */

.dashboard-main{
  margin-left:200px;
  padding:24px;
  flex:1;

  background:#f3f4f6;

  min-height:calc(100vh - 56px);

  overflow-y:auto;
}

/* mobile */

@media (max-width:768px){

  .dashboard-main{
    margin-left:70px;
    padding:18px;
  }

}
